<head>
	<title>[DML] Oft gestelle Fragen</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
	<link rel='stylesheet' href='stylesheets/navbar.css' />
	<link rel='stylesheet' href='stylesheets/faq.css' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />
</head>
<body>
	<div class='navbar'>
		<a href='/' class='nav--logo'>LSPD </a>
		<a href='/police-department' class='nav--item'>Das PD</a>
		<a href='/faq' class='nav--item'>Zum FAQ</a>
		<a href='/ticket-system' class='nav--item'>Zum Ticketsystem</a>
		<a href='https://emergencyos.de/index.php' class='nav--item'>
			Zum OS</a>
		<a href='/contact' class='nav--item'>Kontakt</a>
	</div>

	<video
		src='/videos/background.mp4'
		muted
		loop
		autoplay
		class='video'
	></video>

	<div class='container'>
		<div class='ticketUnderTitle text--fade'>
			<h1 class='logo-name'>Oft gestelle Fragen</h1>
		</div>

		<div class='faq'>
			<div class='search'>
				<input
					type='text'
					id='list--search'
					placeholder='Search..'
					title='Type in a category'
				/>

				<ul id='list'>
					<li>
						<div class='list--item'>
							<a id='1'>Wie kann ich mich Bewerben?</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='2'>Wo ist das PD?</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='3'>Warum werde ich auf dem PD erschossen?</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>
					<li>
						<div class='list--item'>
							<a id='1'>1</a>
						</div>
					</li>

				</ul>
			</div>

			{{! Questions  }}

			<div class='faq-questions' id='1'>
				<div class='question'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Schriftlich:
						<br />
						Fürs Bewerben musst du bitte auf den Familien D-Funk
						kommen und dort bei “lspd-bewerbung” ein Ticket
						erstellen und eine Bewerbung nach den Kriterien stellen.
						Danach wirst du über das Ticket zu einem
						Bewerbungsgespräch eingeladen, von dem aus du dann alle
						Infos bekommst, wann und wo du eingestellt wirst. Bitte
						komme zum Bewerbungsgespräch in vernünftigen Klamotten.
						<br />
						<br />
						Mündlich:
						<br />
						Mündliche kannst du dich nur zu den speziellen
						Mündlichen-Bewerbungsphasen bewerben. Diese werden im
						D-Funk über den Reiter: “Infos” bekannt gegeben. Falls
						gerade eine mündliche Bewerbungsphase stattfindet,
						kannst du einfach zur Lobby des PDs (An der Terrasse. /
						über den Besucher Parkplätzen) kommen. Bitte komme hier
						in vernünftigen Klamotten hin.

					</p>
				</div>
				<div class='question' id='2'>
					<h1>Wo ist das PD?</h1>
					<p>
						Das Police Department befindet sich bei 120. Es ist auf
						der Karte mit einem blauen Polizeilogo markiert. Zudem
						ist das PD eine Sperrzone und darf damit nur von
						befugten Personen betreten werden. Das betreten des
						Geländes erlaubt es den Polizisten, das Feuer auf
						unbefugte Personen zu eröffnen.
					</p>
				</div>
				<div class='question' id='3'>
					<h1>Warum werde ich auf dem PD erschossen?</h1>
					<p>
						Das PD eine Sperrzone und darf damit nur von befugten
						Personen betreten werden. Das betreten des Geländes
						erlaubt es den Polizisten, das Feuer auf unbefugte
						Personen zu eröffnen.
					</p>
				</div>
				<div class='question' id='4'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Saepe modi dolor blanditiis labore eum, dolores mollitia
						cupiditate rem eos aut doloremque odio soluta quam
						asperiores iste, voluptatibus ex, officia quisquam.
					</p>
				</div>
				<div class='question' id='5'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing
						elit. Consequuntur quam, maiores, id incidunt dolores ex
						possimus repellendus amet quisquam ducimus aperiam
						magnam quae mollitia consequatur, minus quia dicta
						laborum aliquam.
					</p>
				</div>
				<div class='question' id='6'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing
						elit. Animi inventore atque, adipisci porro quo neque
						quas autem consectetur at numquam nulla veritatis ipsa
						odit hic. Ipsum voluptas fuga fugiat omnis.
					</p>
				</div>
				<div class='question' id='7'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing
						elit. Reprehenderit, architecto numquam? Ipsum voluptate
						aliquid nemo culpa repudiandae iure magnam minima
						delectus tempore eligendi hic autem aut, quos dolore
						accusamus expedita.
					</p>
				</div>
				<div class='question' id='8'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing
						elit. Velit, tempore. Ea voluptatibus labore laudantium
						pariatur atque assumenda, perspiciatis, error eligendi
						iusto, nesciunt dignissimos omnis voluptas veniam hic
						possimus repellendus id.
					</p>
				</div>
				<div class='question' id='9'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing
						elit. Aliquid animi aliquam, mollitia omnis iusto
						incidunt sed deleniti maiores, amet facilis, eveniet
						magni dignissimos blanditiis exercitationem quis
						asperiores officiis eaque nisi.
					</p>
				</div>
				<div class='question' id='10'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Id veniam aspernatur dolor facere aliquid, aliquam
						architecto tempore perferendis in tempora, amet
						blanditiis repellendus voluptatum reiciendis, maiores
						earum tenetur quam! Voluptatem!
					</p>
				</div>
				<div class='question' id='11'>
					<h1>Wie kann ich mich Bewerben?</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Assumenda, voluptatibus nemo voluptas culpa
						repellendus, ipsum optio eaque in quo, omnis officia
						velit quibusdam quia aliquam excepturi et consectetur
						eos alias.
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src='/scripts/faq.js'></script>
</body>