<head>
    <title>[DML] LSPD | Oft Gestellte fragen</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="top">
        <div id="logo">
            <a href="/">LSPD</a>
        </div>
        <h1 id="logo-name">Häufig gestellte Fragen rund um das LSPD</h1>
        </div>
        </div>
    </div>
</body>