<head>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
	<div
		class='text-center bg-gradient-to-r from-sky-500 to-indigo-500 w-full h-52 opacity-90 hover:opacity-100 transition-opacity shadow-sm'
	>
		<div
			class='font-bold leading-tight text-6xl mt-0 mb-5 text-gray-900 pt-5 opacity-90 hover:opacity-100 transition-opacity'
		>
			<a href='/'>Los Santos Police Department</a>
		</div>
		<div>
			<a
				class='p-2 text-xl opacity-90 hover:opacity-100 bg-gradient-to-r from-sky-500 to-indigo-500 bg-growing-underline'
				href='#the-pd'
			>Das PD</a>
			-
			<a
				class='p-2 text-xl opacity-90 hover:opacity-100 bg-gradient-to-r from-sky-500 to-indigo-500 bg-growing-underline'
				href='#the-pd'
			>Oft gestellte fragen</a>
			-
			<a
				class='p-2 text-xl opacity-90 hover:opacity-100 bg-gradient-to-r from-sky-500 to-indigo-500 bg-growing-underline'
				href='#the-pd'
			>Fragen Tool</a>
			-
			<a
				class='p-2 text-xl opacity-90 hover:opacity-100 bg-gradient-to-r from-sky-500 to-indigo-500 bg-growing-underline'
				href='#the-pd'
			>Kontakt</a>
		</div>
	</div>
	<div id='main'>
		<section id='the-pd'>
			<h2>Das PD</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
				doloribus eius excepturi harum cumque qui blanditiis placeat
				consectetur veritatis doloremque dicta provident sunt, impedit
				inventore odit cupiditate facilis similique eos?
			</p>
		</section>

		<section id='Often-asked-questions'>
			<h2>Oft gestellte fragen</h2>
			<p>Hier kommst du zu häufig gestellten Fragen rund um das LSPD!</p>
			<a href='/faq'>Oft Gestellte fragen</a>
			<section id='question-tool'></section>
			<h2>Fragen Tool</h2>
			<p>
				Falls deine Frage noch nicht beantwortet wurde kannst du hier
				deine Frage ohne Probleme stellen!
			</p>

			<a href='/question'>Fragen Tool</a>
		</section>

		<section id='contact'>
			<h2>Kontakt</h2>
			<p>Chief of State [🎖️]: SLE | Shah</p>
			<p>-</p>
			<p>Chief of Police [👮🏻‍♂️]: SLE | Adrian</p>
			<p>-</p>
			<p>Chief of S.O.F.[🕵️]: SLE | Capo</p>
			<p>-</p>
			<p>
				Deputy Chief of Police: [10-09] Paco Fernandez | SLE |
				Alexandros | [10-04] Hermann Berger
			</p>
			<p>-</p>
			<p>Deputy Chief of S.O.F.: [10-05] Oiski Poiski | SLE | Michael</p>
			<p>-</p>
			<p>Department of Corrections</p>
			<p>Leader: [CL-07] Ramsi Wik</p>
			<p>
				Offizier: [CO-23] Yung Hurn | [CO-25] Vladimir Puti | [CO-44]
				DosSantos DeLaCruz | [CO-54] Achmet Mohammed
			</p>
			<p>
				Correction: [C-33] Costa Fastgarnix | [C-45] Johannis Langshanz
			</p>
			<p>-</p>
			<p>Department of Human Resources:</p>
			<p>Director: [DHR-08] Fynn Berghaus | [DHR-22] Martin Opi</p>
			<p>Manager: [HRM-64] Tim Buktu</p>
			<p>
				Resources: [HR-36] Niklas Schneider | [HR-141] Max Gotti |
				[HR-21] Nico Uchiha | [HR-41] Felix Blume | [HR-24] Victor
				Reinhardt | [HR-225] Max Sancho | [HR-15] Rajesh Kutrapali |
				[HR-201] Elias Apfelbaum | [Hr-70] Connor Litt | [HR-185] John
				Scholz
			</p>
			<p>-</p>
			<p>Director of FIB/GTF: [FIB-D-16] Toni Mayer</p>
			<p>-</p>
			<p>Stv. Director of GTF: [FIB-SD-35] Karlo Kratzigel</p>
			<p>-</p>
			<p>Director of S.W.A.T.: [S-D-10] Madara Uchiha</p>
			<p>-</p>
			<p>
				Stv. Director of S.W.A.T.: [S-SD-13] Tommy Cave |
				[S-SD-30/OA-258] Ottmar Fischer
			</p>
		</section>

	</div>
</body>