<head>
	<title>[DML] Das PD</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
	<link rel='stylesheet' href='stylesheets/navbar.css' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />
</head>
<body>
	<div class='navbar'>
		<a href='/' class='nav--logo'>LSPD </a>
		<a href='/police-department' class='nav--item'>Das PD</a>
		<a href='/faq' class='nav--item'>Zum FAQ</a>
		<a href='/ticket-system' class='nav--item'>Zum Ticketsystem</a>
		<a href='https://emergencyos.de/index.php' class='nav--item'>
			Zum OS</a>
		<a href='/contact' class='nav--item'>Kontakt</a>
	</div>

	<div class='main'></div>
	<div class='footer'></div>
</body>