<!DOCTYPE html>

<html>
<head>
    <title>[DML] LSPD Fragen Tool</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="top">
        <div id="logo">
            <a href="index.html">LSPD</a>
        </div>
        <h1 id="logo-name">LSPD Fragen Tool</h1>
        </div>
        </div>
    </div>
    <div id="main">
    </div>
    <div id="footer">
        © Copyright 2022 | [DML] LSPD (Fynn Rogall & Luca Leukert)
    </div>
</body>
</html>