<head>
		<title>[DML] Das PD</title>
		<link rel='stylesheet' href='stylesheets/style.css' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
	</head>
	<body>
		<div class='top'>
			<div class='ticketTitle'>
				<a href='/' class='ticket-lspd'>LSPD </a>
				<a href='/thepd' class='ticket--sort'>Das PD</a>
				<a href='/faq' class='ticket--sort'>Zum FAQ</a>
				<a href='/ticketsystem' class='ticket--sort'>Zum Ticketsystem</a>
				<a href='https://emergencyos.de/index.php' class='ticket--sort'> Zum OS</a>
				<a href='/contact' class='ticket--sort'>Kontakt</a>
			</div>
			<div class='ticketUnderTitle'>
				<h1 class='logo-name'>Das PD</h1>
			</div>
		</div>
		<div class='main'>
		</div>
		<div class='footer'>
		</div>
	</body>
</html>