.container {
	margin: 0px;
	padding: 20px;
	width: 100%;
	height: calc(100% - 126px);
	background-color: transparent;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

body {
	background-color: transparent;
}

.video {
	position: fixed;
	top: 70px;
	left: 0;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
}

.faq {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	height: 100%;
	overflow-y: scroll;
	flex-grow: 2;
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: #111;
	border-radius: 10px;
	z-index: 2;

	-webkit-box-shadow: inset -3px -3px 30px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset -3px -3px 30px 5px rgba(0, 0, 0, 0.2);
	scroll-behavior: smooth;
}

body {
	overflow-y: hidden;
}

.search {
	width: 20%;
	height: 100%;
	top: 0;
	position: sticky;
	z-index: 10;
	overflow-x: hidden;
	background-color: #1a1919;
}

#list--search {
	width: 100%;
	font-size: 18px;
	padding: 11px;
	border: none;
	outline: none;
	transition: all 0.1s;
	background-color: #242222;
	color: #dfdfdf;
}

#list--search:focus {
	background-color: #383636;
}

/* Style the navigation menu */
#list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Style the navigation links */
.list--item {
	display: flex;
	height: 40px;
	background-color: #242222;
	border: solid 1px #383636;
	border-radius: 3px;
	transition: all 0.2s;
	cursor: pointer;
	margin-top: 5px;

	color: #dfdfdf;
}

.list--item a {
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: #dfdfdf;
}

.list--item:hover {
	background-color: #383636;
}

/* faq questions design*/

.faq-questions {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: fit-content;
	align-items: center;
	padding-top: 20px;
	width: 100%;
}

.faq-questions h1 {
	font-weight: bold;
	font-size: x-large;
	width: 100%;
	margin-bottom: 10px;
}

.faq-questions p {
	max-width: 900px;
	text-align: center;
	line-height: 20px;
}

.question {
	color: #dfdfdf;
	border: solid 1px #1a1919;
	background-color: #1a1919;
	border-radius: 10px;
	width: fit-content;
	padding: 20px;
	margin-bottom: 40px;
	-webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.ticketUnderTitle {
	height: 50px;
	width: 100%;
	text-align: center;
}

.ticketUnderTitle h1 {
	font-size: 40px;
	font-weight: 450;
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #111;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
