@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Hier ist der homepage.hbs Teil */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: white;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	color: white;
	z-index: 100;
	transition: 0.4s;
}

.showcase.active {
	right: 300px;
}

.showcase header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.4s;
}

.logo {
	text-transform: uppercase;
	cursor: pointer;
	font-size: 4em;
	font-weight: 800;
}

.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url(/images/menu.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
}

.lspd-logo {
	top: 0;
	left: 0;
	width: 500px;
}

.toggle.active {
	background: url(/images/close.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.text {
	position: relative;
	z-index: 10;
    color: #001aff;
    
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.text h2 {
	font-size: 3em;
	font-weight: 800;
	line-height: 1em;
	text-transform: uppercase;

    background: linear-gradient(45deg, #001aff, #00e1ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text h3 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;

    background: linear-gradient(45deg, #001aff, #00e1ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text p {
	font-size: 1.1em;
	margin: 20px 0px;
	font-weight: 400;
	max-width: 700px;

    background: linear-gradient(45deg, #001aff, #00e1ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text a {
	display: inline-block;
	font-size: 1em;
	background: white;
	padding: 10px 30px;
	text-decoration: none;
	color: #111;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: 0.2s;
}

.text a:hover {
	letter-spacing: 10px;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hide {
	display: none;
}

.menu ul {
	position: relative;
	list-style: none;
}

.menu ul li a {
	text-decoration: none;
	font-size: 24px;
	color: #111;
}

.menu ul li a:hover {
	color: #03a9f4;
}

/* Hier ist der ticket.hbs Teil */

.ticketTitle {
	margin-bottom: 0;
	display: flex;
	background-color: #111;
	padding: 5px 15px;
	width: auto;
}

.ticket-lspd {
	font-family: 'Roboto', 'Gill Sans', sans-serif;
	text-decoration: none;
	font-size: 64px;
	background-color: #001aff;
	background-image: linear-gradient(45deg, #001aff, #00e1ff);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: 900;
	margin-left: 20%;
	margin-right: 5%;
	transition: color 0.3s;
}

.ticket-lspd:hover {
	color: #006390;
	font-weight: 800;
}

.ticket-lspd::after {
	content: '';
	width: 0px;
	height: 2px;
	display: block;
	background-image: linear-gradient(45deg, #001aff, #00e1ff);
	transition: 300ms;
}

.ticket-lspd:hover::after {
	width: 100%;
}

.ticket-lspd:hover {
	color: #006390;
	font-weight: 800;
}

.ticket-thePD {
	margin-top: 32px;
	font-family: 'Roboto', 'Gill Sans', sans-serif;
	font-size: 16px;
	color: #03a9f4;
	font-weight: 225;
	margin-left: 10%;
	transition: color 0.3s;
}

.ticket-thePD:hover {
	color: #006390;
	font-weight: 200;
}

.ticket--sort {
	align-self: center;
	font-family: 'Roboto', 'Gill Sans', sans-serif;
	font-size: 23px;
	color: #03a9f4;
	font-weight: 225;
	margin-left: 5%;
	transition: color 0.3s;
	text-decoration: none;
}

.ticket--sort::after {
	content: '';
	width: 0px;
	height: 2px;
	display: block;
	background: #006390;
	transition: 300ms;
}

.ticket--sort:hover::after {
	width: 100%;
}

.ticket--sort:hover {
	color: #006390;
	font-weight: 200;
}

.ticketUnderTitle h1 {
	margin-top: 16px;
	display: flex;
	padding: 5px 15px;
	border-radius: 5px;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 32px;
	color: #111;
	font-weight: 450;
	text-decoration: underline;
}

.ticketUnderTitle a:hover {
	color: #006390;
	font-weight: 400;
}
