<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=, initial-scale=1.0' />
		<link rel='stylesheet' href='stylesheets/footer.css' />
		<link rel='stylesheet' href='stylesheets/reset.css' />
		<title>DiamondLife LSPD</title>

		<script
			src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'
		></script>

		{{{head}}}
	</head>
	<body>
		{{{body}}}

		<div class='footer'>
			<h1>
				© Fynn Rogall, Luca Leukert 2022 |
				<img src='/images/diamond.svg' class='footer-logo' />
				LSPD
			</h1>
		</div>

	</body>
</html>