<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=, initial-scale=1.0' />
		<title>DiamondLife LSPD</title>

		{{{head}}}
	</head>
	<body class='bg-white'>
		{{{body}}}

		<div class='footer'>
			Copyright 2022 | [DML] LSPD (Fynn Berghaus & Victor Reinhardt)
		</div>
	</body>
</html>